<h1>Eddita Wawa</h1>

<% if current_user %>
	<% if current_user.admin %>

		<div id="gmap"></div>

		<%= form_for @wawa, :url => wawa_path(@wawa), :html => { :multipart => true } do |f| %>
			<p>
				<%=f.label :Prime_Photo, "Change photo" %>
				<% if @wawa.prime_photo.exists? %>
					<%= image_tag @wawa.prime_photo.url(:medium) %>
				<% end %>
				<% if current_user == @wawa.user.id %>		
					<%= f.file_field :prime_photo %>
				<% end %>
			</p><p>
				<%=f.label :Latitude %>
				<%=f.text_field :lat %>

				<%=f.label :Longitude %>
				<%=f.text_field :long %>
			</p><p>
				<%=f.label :street1 %>
				<%=f.text_field :street1, :readonly => true %>

				<%=f.label :street2 %>
				<%=f.text_field :street2, :readonly => true %>
			</p><p>
				<%=f.label :City %>
				<%=f.text_field :city, :readonly => true %>

				<%=f.label :State %>
				<%=f.text_field :state, :readonly => true %>

				<%=f.label :Zip %>
				<%=f.text_field :zip, :readonly => true %>
			</p><p>
				<%= f.submit :change %>
			</p>
		<% end %>

	<% end %>
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript">

		var myZoom = 17;
		var myMarkerIsDraggable = true;
		var defaultLat = parseFloat($('#wawa_lat').val());
		var defaultLng = parseFloat($('#wawa_long').val());
		var myCoordsLength = 8;

		var map = new google.maps.Map(document.getElementById('gmap'), {
			zoom: myZoom,
			center: new google.maps.LatLng(defaultLat, defaultLng),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		// creates a draggable marker to the given coords

		var myMarker = new google.maps.Marker({
			position: new google.maps.LatLng(defaultLat, defaultLng),
			draggable: myMarkerIsDraggable
		});

		// adds a listener to the marker
		// gets the coords when drag event ends<br />
		// then updates the input with the new coords<br />

		google.maps.event.addListener(myMarker, 'dragend', function(evt){
			document.getElementById('wawa_lat').value = evt.latLng.lat().toFixed(myCoordsLength);
			document.getElementById('wawa_long').value = evt.latLng.lng().toFixed(myCoordsLength);
		});

		// centers the map on markers coords
		map.setCenter(myMarker.position);

		// adds the marker on the map
		myMarker.setMap(map);

	 </script>
<% end %>