<div class="container">

	<h1 class="blog-title">Edit Wawa <%= "[#{@wawa.city}, #{@wawa.state} #{@wawa.zip}]"%></h1>
	<div class="row">
		<div class="col-sm-10 blog-main">

		<% if current_user %>
			<% if current_user.admin %>

				<%= form_for @wawa, :url => wawa_path(@wawa), :html => { :multipart => true } do |f| %>
					<div class="row">
						<div class="col-sm-4">   
							<% if @wawa.prime_photo.exists? %>
								<%= image_tag @wawa.prime_photo.url(:medium) %>
							<% end %>
							<% if true || current_user == @wawa.user.id %>
								<p>		
									<%=f.label :Prime_Photo, "Change photo" %>
									<%= f.file_field :prime_photo %>			
								</p>					
							<% end %>
						</div>

						<div class="col-sm-8">
							<div id="gmap"></div>
						</div>
					</div>
					<div class="row">					
						<div class="col-sm-6">
						<%=f.label :Latitude %>
						<%=f.text_field :lat, :class => "form-control" %>
						</div><div class="col-sm-6">
						<%=f.label :Longitude %>
						<%=f.text_field :long, :class => "form-control" %>
					</div>
					<%=f.label :street1 %>
					<%=f.text_field :street1, :readonly => true, :class => "form-control" %>

					<%=f.label :street2 %>
					<%=f.text_field :street2, :readonly => true, :class => "form-control" %>
					<div class="row">	
						<div class="col-sm-4">
							<%=f.label :City %>
							<%=f.text_field :city, :readonly => true, :class => "form-control" %>
						</div><div class="col-sm-4">
							<%=f.label :State %>
							<%=f.text_field :state, :readonly => true, :class => "form-control" %>
						</div><div class="col-sm-4">
							<%=f.label :Zip %>
							<%=f.text_field :zip, :readonly => true, :class => "form-control" %>
						</div>
					</div>
					<br>
					<%= f.submit :change, :class => "btn btn-lg btn-primary btn-block" %>
				<% end %>

			<% end %>
		<% end %>
		</div>
	</div>
</div>

<% content_for :scripts do %>
	<script type="text/javascript">

		var myZoom = 17;
		var myMarkerIsDraggable = true;
		var defaultLat = parseFloat($('#wawa_lat').val());
		var defaultLng = parseFloat($('#wawa_long').val());
		var myCoordsLength = 8;

		var map = new google.maps.Map(document.getElementById('gmap'), {
			zoom: myZoom,
			center: new google.maps.LatLng(defaultLat, defaultLng),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		// creates a draggable marker to the given coords

		var myMarker = new google.maps.Marker({
			position: new google.maps.LatLng(defaultLat, defaultLng),
			draggable: myMarkerIsDraggable
		});

		// adds a listener to the marker
		// gets the coords when drag event ends<br />
		// then updates the input with the new coords<br />

		google.maps.event.addListener(myMarker, 'dragend', function(evt){
			document.getElementById('wawa_lat').value = evt.latLng.lat().toFixed(myCoordsLength);
			document.getElementById('wawa_long').value = evt.latLng.lng().toFixed(myCoordsLength);
		});

		// centers the map on markers coords
		map.setCenter(myMarker.position);

		// adds the marker on the map
		myMarker.setMap(map);

	 </script>
<% end %>

