<h1>Hey, that used to be a Wawa!</h1>

<p>
	Wawa Markets have been around for decades now. Long enough that many of them have come and gone over the years, leaving their distinctive Wawa storefront behind. A Notwa is one of those 'used-to-be-a-wawa's. Once you start seeing them, you'll see them everywhere!
</p>

<p>
  	<% if !current_user %>
		Sign up to add one we've missed!
	<% end %>
</p>
<div id="gmap">

</div>
<hr>
<% @wawas.each do |wawa|%>

	<%  if wawa.prime_photo.exists? %>
		<%=  link_to "#{image_tag wawa.prime_photo.url(:thumb)}".html_safe, wawa_path(wawa.id) %>
	<% else %>
		<%= link_to "wawa page", wawa_path(wawa.id) %>
	<% end %>
	<%= "submitted by username [#{wawa.user.username}] " %>
	<%= "[#{wawa.city}], [#{wawa.state}]" %>
	<% if current_user && current_user == wawa.user || current_user.admin %>
		<li><%= link_to "Edit wawa", edit_wawa_path(wawa.id) %></li>
	<% end %>
	<hr>
<% end %>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({
	    provider: {
	      disableDefaultUI: false
	      // pass in other Google Maps API options here
	    },
	    internal: {
	      id: 'gmap'
	    }
	  },
	  function(){
			markers = handler.addMarkers(<%=raw @hash.to_json %>);
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
		}
	);
</script>
