<div class="container">

	   <div class="blog-header">
	     <p class="lead blog-description">
	     <h1 class="avoid_brand big_header">Hey, that used to be a Wawa!</h1>
	     </p>
	     <% if !current_user %>
	        <p class="avoid_brand">Did we miss one? Sign up and add it!</p>
	     <% end %>
	   </div>

	<div class="row">

		<div class="col-sm-8 blog-main">

			<div class="blog-post">
			   <div id="gmap"></div>
			</div>
			<% @wawas.each_with_index do |wawa, index| %>

				<% if index%2 > 0 %>
					<div class="blog-post bordered">
				<% else %>
					 <div class="blog-post">
				<% end %> 

					<%  if wawa.prime_photo.exists? %>
						<%=  link_to "#{image_tag wawa.prime_photo.url(:thumb)}".html_safe, wawa_path(wawa.id) %>
					<% else %>
						<%= link_to "Picture Unavailable - click here to see this NotWa's page", wawa_path(wawa.id), class: "btn btn-default" %>
					<% end %>

		         <h2 class="blog-post-title crimson"><%= "#{wawa.city}, #{wawa.state} #{wawa.zip}" %></h2>
					<p class="blog-post-meta">
						Submitted by <%= "#{wawa.user.username}"%>
						<%if wawa.user.profile %>
							<% if wawa.user.profile.avatar %>
								<%=  image_tag wawa.user.profile.avatar.url(:tiny) %>
							<% end %>
						<% end %>
						<br>
						<%="Last Updated on #{wawa.updated_at.strftime("%d/%m/%Y %H:%M")}"%>
					</p>

					<% if current_user && current_user == wawa.user || current_user && current_user.admin %>
						<div class="profilebox">
							<%= link_to "Edit wawa", edit_wawa_path(wawa.id), class: "btn btn-default" %>
						</div>
					<% end %>
				</div> <!-- .blog-post  -->
			<% end %>

<!-- make this work in future revs
			<nav>
				<ul class="pager">
				  <li><a href="#">Previous</a></li>
				  <li><a href="#">Next</a></li>
				</ul>
			</nav>
 -->
		</div><!-- /.blog-main -->

		<div class="col-sm-4 blog-sidebar">
	          <div class="sidebar-module sidebar-module-inset">
	            <h3 class="sidebar_text">About</h3>
	            <p>Wawa Markets was founded in 1964. Many individual markets have come and gone over the years, leaving their distinctive Wawa storefront behind for anyone to see. A Notwa is one of those 'used-to-be-a-wawa's. Once you notice one, you'll see them everywhere!</p>
	          </div>
	          <div class="sidebar-module">
	            <h3 class="sidebar_text">Archives</h3>
	            <ol class="list-unstyled">
	              <li><a href="#">January 2016</a></li>
	            </ol>
	          </div>
	          <div class="sidebar-module">
	            <h3 class="sidebar_text">Elsewhere</h3>
	            <ol class="list-unstyled">
	              <li><a href="https://www.wawa.com">Wawa</a></li>
	              <li><a href="https://www.Twitter.com">Twitter</a></li>
	              <li><a href="https://www.Facebook.com">Facebook</a></li>
	            </ol>
	          </div>
		</div><!-- /.blog-sidebar -->

	</div><!-- /.row -->

</div><!-- /.container -->

<!--  -->
<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({
	    provider: {
	      disableDefaultUI: false
	      // pass in other Google Maps API options here
	    },
	    internal: {
	      id: 'gmap'
	    }
	  },
	  function(){
			markers = handler.addMarkers(<%=raw @hash.to_json %>);
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
		}
	);
	// allow map to responsively resize
	map = handler.getMap()
	google.maps.event.addDomListener(window, "resize", function() {
		 var center = map.getCenter();
		 google.maps.event.trigger(map, "resize");
		 map.setCenter(center); 
	});

	// connect the navbar search box to a google maps search box
	//
	var searchBox = new google.maps.places.SearchBox(document.getElementById('mapsearch'));
	// var searchBox = new google.maps.places.SearchBox($('#mapsearch'));

	// place change event on search box
	google.maps.event.addListener(searchBox, 'places_changed', function() {

		// console.log(searchBox.getPlaces());
		var places = searchBox.getPlaces();

		// bound
		var bounds = new google.maps.LatLngBounds();
		var i, place;

		for (i=0; place=places[i];i++){

			// console.log(place.geometry.location);

			bounds.extend(place.geometry.location);
			//marker.setPosition(place.geometry.location);
		};
		map.fitBounds(bounds); //fit to the bound
		map.setZoom(15); // set zoom
	});
</script>
