<div class="container">
	   <div class="blog-header">
	     <h1 class="blog-title">Notwa!</h1>
	     <p class="lead blog-description">Hey, that used to be a Wawa!</p>
	     <% if !current_user %>
	        <p>Did we miss one? Sign up and add it!</p>
	     <% end %>
	   </div>

	<div class="row">

		<div class="col-sm-8 blog-main">

			<div class="blog-post">
			   <div id="gmap"></div>
			</div>
			<% @wawas.each do |wawa|%>    
			   <div class="blog-post">   
		         <h2 class="blog-post-title"><%= "#{wawa.city}, #{wawa.state} #{wawa.zip}" %></h2>
					<p class="blog-post-meta"><%="#{wawa.updated_at.strftime("%d/%m/%Y %H:%M")}"%> by <%= "#{wawa.user.username}"%></p>

					<%  if wawa.prime_photo.exists? %>
						<%=  link_to "#{image_tag wawa.prime_photo.url(:thumb)}".html_safe, wawa_path(wawa.id) %>
					<% else %>
						<li><%= link_to "wawa page", wawa_path(wawa.id) %></li>
					<% end %>
					<%= "submitted by username #{wawa.user.username} " %>
					<%= "#{wawa.city}, #{wawa.state} #{wawa.zip}" %>
					<% if current_user && current_user == wawa.user || current_user && current_user.admin %>
						<li><%= link_to "Edit wawa", edit_wawa_path(wawa.id) %></li>
					<% end %>
					<hr>
				</div> <!-- .blog-post  -->
			<% end %>

<!-- make this work in future revs
			<nav>
				<ul class="pager">
				  <li><a href="#">Previous</a></li>
				  <li><a href="#">Next</a></li>
				</ul>
			</nav>
 -->
		</div><!-- /.blog-main -->

		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	          <div class="sidebar-module sidebar-module-inset">
	            <h4>About</h4>
	            <p>Wawa Markets was founded in 1964. Many individual markets have come and gone over the years, leaving their distinctive Wawa storefront behind for anyone to see. A Notwa is one of those 'used-to-be-a-wawa's. Once you notice one, you'll see them everywhere!</p>
	          </div>
	          <div class="sidebar-module">
	            <h4>Archives</h4>
	            <ol class="list-unstyled">
	              <li><a href="#">January 2015</a></li>
	            </ol>
	          </div>
	          <div class="sidebar-module">
	            <h4>Elsewhere</h4>
	            <ol class="list-unstyled">
	              <li><a href="https://www.instagram.com">Instagram</a></li>
	              <li><a href="https://www.Twitter.com">Twitter</a></li>
	              <li><a href="https://www.Facebook.com">Facebook</a></li>
	            </ol>
	          </div>
		</div><!-- /.blog-sidebar -->

	</div><!-- /.row -->

</div><!-- /.container -->

<!--  -->
<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({
	    provider: {
	      disableDefaultUI: false
	      // pass in other Google Maps API options here
	    },
	    internal: {
	      id: 'gmap'
	    }
	  },
	  function(){
			markers = handler.addMarkers(<%=raw @hash.to_json %>);
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
		}
	);
	// allow map to responsively resize
	map = handler.getMap()
	google.maps.event.addDomListener(window, "resize", function() {
		 var center = map.getCenter();
		 google.maps.event.trigger(map, "resize");
		 map.setCenter(center); 
	});
</script>
