
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">

 
          <div class="container">
 
            <%= image_tag "carousel/NotWastalgia001.jpg", class: "img-responsive center-block" %>

            <div class="carousel-caption">
              <%= link_to "Skip", home_path, {:class=>"btn btn-lg btn-primary"} %>
            </div>
          </div>
        </div>

        <div class="item">

          <%= image_tag "carousel/NotWastalgia002.jpg", class: "img-responsive center-block" %>

          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Skip</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag "carousel/NotWastalgia003.jpg", class: "img-responsive center-block" %>

          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Skip</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag "carousel/NotWastalgia004.jpg", class: "img-responsive center-block" %>
          <div class="container">
              <div class="carousel-caption">
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Skip</a></p>
              </div>
            </div>
        </div>

        <div class="item">
          <%= image_tag "carousel/NotWastalgia005.jpg", class: "img-responsive center-block" %>
          <div class="container">
              <div class="carousel-caption">
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Skip</a></p>
              </div>
            </div>
        </div>

        <div class="item">
          <%= image_tag "carousel/NotWastalgia006.jpg", class: "img-responsive center-block" %>
          <div class="container">
              <div class="carousel-caption">
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Skip</a></p>
              </div>
            </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->