<h1>What? One's missing from our database? Fix that!</h1>

<p>
	All you need to do to add a new Notwa to our site is to submit a photo of it. Don't worry if you don't have any more information than that; we'll help you find it!
</p>

<%= form_for @wawa do |f| %>
	<hr>
	<p>
		<%= f.hidden_field :user_id, value: params[:user_id] %>
		<%= hidden_field_tag 'selected', 'none'  %>

		<%=f.label :prime_photo, "Upload A Picture of It" %>
		<%= f.file_field :prime_photo %>
	</p><hr><p>

<h1>Drag the Marker to this Wawa's Location</h1>
<div id="gmap"></div>

	<h2>Optional Information</h2>
	<hr>
	</p><p>
		<%=f.label :lat, 'GPS Latitude/Longitude' %>
		<%=f.text_field :lat %>/
		<%= f.text_field :long %>
	</p><p>
		<%=f.label :street1 %>
		<%=f.text_field :street1 %>

		<%=f.label :street2 %>
		<%=f.text_field :street2 %>
	</p><p>
		<%=f.label :City %>
		<%=f.text_field :city %>

		<%=f.label :State %>
		<%=f.text_field :state %>

		<%=f.label :Zip %>
		<%=f.text_field :zip %>
	</p><p>
		<%=f.label :info, 'Additional Info:' %>
	</p><p>
		<%= f.text_area :info, size: '50x20' %>
	</p><p>
		<%= f.submit :Add! %>
	</p>

<% end %>

 <script type="text/javascript">

	var myZoom = 8;
	var myMarkerIsDraggable = true;
	var defaultLat = 39.9523400;
	var defaultLng = -75.1637900;
	var myCoordsLength = 8;

	var map = new google.maps.Map(document.getElementById('gmap'), {
		zoom: myZoom,
		center: new google.maps.LatLng(defaultLat, defaultLng),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	});

	// creates a draggable marker to the given coords

	var myMarker = new google.maps.Marker({
		position: new google.maps.LatLng(defaultLat, defaultLng),
		draggable: myMarkerIsDraggable
	});

	// adds a listener to the marker
	// gets the coords when drag event ends<br />
	// then updates the input with the new coords<br />

	google.maps.event.addListener(myMarker, 'dragend', function(evt){
		document.getElementById('wawa_lat').value = evt.latLng.lat().toFixed(myCoordsLength);
		document.getElementById('wawa_long').value = evt.latLng.lng().toFixed(myCoordsLength);
	});

	// centers the map on markers coords
	map.setCenter(myMarker.position);

	// adds the marker on the map
	myMarker.setMap(map);

 </script>